<div class="container">
    <div class="row">
        <!--About me-->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>About Me</h2>
                <img src="../../assets/IMG-20230825-WA0081.jpg" alt="profile picture" width="256" height="256" class="rounded-circle">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Metus vulputate eu scelerisque felis imperdiet proin fermentum leo vel. At varius vel pharetra vel. In ornare quam viverra orci sagittis eu volutpat. Ultricies leo integer malesuada nunc vel risus commodo viverra maecenas. Non quam lacus suspendisse faucibus interdum posuere lorem ipsum. Pretium aenean pharetra magna ac. Aliquet porttitor lacus luctus accumsan tortor posuere ac. Congue nisi vitae suscipit tellus mauris a diam maecenas. Id aliquet lectus proin nibh.</p>
            </div>
        </div>
        <!--Featured Project-->
        <div class="col-lg shadow border m-1">
            <div class="text-center">
                <h2>Featrured Project</h2>
            </div>

                       
        </div>

    </div>

</div>
